table {
    border-collapse : collapse;
}
th,td {
    text-align : left;
    padding : 5px;
    height : 15px;
    width : 100px;
}
thead,tfoot {
    background: darkgray;
    color : yellow;
}
tbody tr:nth-child(even) {
    background: aliceblue;
}
thead tr:hover {
    background: purple;
}
tbody tr:hover {
    background: plum;
}
tfoot tr:hover {
    background: purple;
}
hr {
    border : 2.5px solid skyblue;
}
h3:hover {
       background: slateblue;
}